<!--
    ioBroker.vis vistaragorm Widget-Set

    version: "0.0.1"

    Copyright 2019 Taragorm taragorm@zoho.eu
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/vistaragorm/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/vistaragorm/js/sprintf.min.js"></script>
<script type="text/javascript" src="widgets/vistaragorm/js/taracommon.js"></script>
<script type="text/javascript" src="widgets/vistaragorm/js/vistaragorm.js"></script>


<script id="tplVistaragormHelper_nbox"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="vis-taragorm-class"><table class="vis_taragorm_nbox-table" style="background-color:#00ff00"><tr><th>TITLE</th></tr><tr><td> 23.4C </td></tr><tr><td> 56.7C </td></tr><tr><td> 23.4C </td></tr></div>'
        data-vis-attrs="oid_mv1/id;format1/text;oid_mv2/id;format2/text;oid_mv3/id;format3/text;titleText/text;interpolate/checkbox;colours/text[$indoor]"
	data-vis-attrs0="onClick/text"
        data-vis-set="vistaragorm"
        data-vis-type="val"
        data-vis-name="1-3 values with bg">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 62px; height: 94px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.vistaragorm_nbox.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>


<script id="tplVistaragormHelper_mvsp"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="vis-taragorm-class"> <table style="background: radial-gradient(#ff0000, #6060ff)"><tr><th>TITLE</th></tr><tr><td> 25.4C </td></tr><tr><td> 15.0C </td></tr></table></div>'
        data-vis-attrs="oid_mv/id;oid_sp/id;format/text;titleText/text;interpolate/checkbox;colours/text[$indoor];offSp/text;onClick/text"
        data-vis-set="vistaragorm"
        data-vis-type="val"
        data-vis-name="MV+SP">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 62px; height: 72px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.vistaragorm_mvsp.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>

<script id="tplVistaragormHelper_htmltoggle"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<input type="button>Toggle</button>"'
        data-vis-attrs="oid/id;htmlFalse/html;htmlTrue/text"
        data-vis-set="vistaragorm"
        data-vis-type="val"
        data-vis-name="HTML Toggle">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 100px; height: 50px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.vistaragorm_htmltoggle.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>


<script id="tplVistaragormHelper_bool"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<input type="button>Toggle</button>"'
        data-vis-attrs="oid/id;htmlFalse/html;htmlTrue/html"
        data-vis-set="vistaragorm"
        data-vis-type="val"
        data-vis-name="HTML Boolean">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 20px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.vistaragorm_bool.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>

<script id="tplVistaragormHelper_hilo"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<input type="button>Toggle</button>"'
        data-vis-attrs="oid/id;lolo;htmlLoLo/html;lo;htmlLo/html;htmlNormal/html;hi;htmlHi/html;hihi;htmlHiHi/html"
        data-vis-set="vistaragorm"
        data-vis-type="val"
        data-vis-name="HTML Hi/Lo indicator">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 20px; height: 20px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.vistaragorm_hilo.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>



